.sun-and-moon-icon .sun-body,
.sun-and-moon-icon .sun-rays,
.sun-and-moon-icon .moon-mask__circle {
    transition: 0.3s ease;
}

.sun-and-moon-icon .sun-body,
.sun-and-moon-icon .sun-rays {
    transform-origin: center;
}

[data-theme='dark'] .sun-and-moon-icon .sun-body {
    transform: scale(1.5);
}

[data-theme='dark'] .sun-and-moon-icon .sun-rays {
    opacity: 0;
    transform: rotate(25deg) scale(0);
}

[data-theme='dark'] .sun-and-moon-icon .moon-mask__circle {
    cx: 15;
}

@media (prefers-reduced-motion: reduce) {
    .sun-and-moon-icon .sun-body,
    .sun-and-moon-icon .sun-rays,
    .sun-and-moon-icon .moon-mask__circle {
        transition: none;
    }
}
